<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product sales report</title>
  </head>
  <body
    style="
      background-color: #f3f4f5;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    "
  >
    <div
      style="
        width: 600px;
        margin: 20px auto;
        padding: 24px 32px;
        background-color: white;
        font-size: 16px;
      "
    >
      <div style="padding-top: 24px">
        <p style="display: inline">Hello,</p>
        <p style="display: inline; font-weight: bold">Good Friend,</p>
      </div>
      <p style="font-weight: bold; font-size: 18px">
        Hello, this is product sales report as you requested.
      </p>
      <div>
        <p>
          You will find the file attached. Hope we can always rise to the moon.
        </p>
        <div>
        </div>
      </div>
    </div>
  </body>
</html>
